<select class="form-control" name="Status">
    <option <%= (select == "Active" ? "selected" : "") %> value="Active">Active</option>
    <option <%= (select == "Inactive" ? "selected" : "") %> value="Inactive">Inactive</option>
    <option <%= (select == "Delete" ? "selected" : "") %> value="Delete">Delete</option>
</select>