<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SINO</title>
  <!-- NAVIGATION -->
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>
    .form-control {
      padding: .75rem .75rem !important;
    }
    body{
      overflow: hidden;
    }
    *{
      padding: 0px;
      margin: 0px;
      box-sizing: border-box;
    }
  </style>
</head>

<body>

  <!-- navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="max-height: 50px;">
    <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
      <div class="logo">
        <a class="navbar-brand" href="/users">SINO system</a>
      </div>
      <div class="link d-flex align-items-center" style="gap: 1rem">
        <a href="/pos" class="link-item btn btn-sm btn-success">POS page</a>
        <a href="/users" class="link-item text-light">Users page</a>
        <a href="/customers" class="link-item text-light">Customers page</a>
        <a href="/product-category" class="link-item text-light">Product category page</a>
        <a href="/product" class="link-item text-light">Product page</a>
        <a href="/authen/login" class="link-item text-light">Login page</a>
      </div>
    </div>

  </nav>